body.start {
    text-align: center;
    background-image: url("../css/background2.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    font-family: "Edwardian Script ITC";
    font-size: 320%;
}
#desksharelock {
    width: 180px;
    height: auto;
}
body.mainpage {
    text-align: center;
    background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0) 30%), url("../css/background.jpg");
    background-size: cover; 
    background-position: center top 170px; /* Lässt oben Platz */
    background-repeat: no-repeat;
}
.arbeitsplatz-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    justify-content: center;
    padding: 50px;
}
.arbeitsplatz-btn {
    position: relative;
    font-size: 15px;
    padding: 10px;
    background-image: url("../css/altholz.jpg");
    background-size: cover;
    font-family: "Garamond", serif;
    font-size: 20px;
    color: #fff8dc; /* Helle Farbe für gute Lesbarkeit */
    text-shadow: 1px 1px 2px black;
}
.arbeitsplatz-btn .stempelgruen {
    position: absolute;
    width: 45px;
    height: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    object-fit: contain;
}
.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    right: auto;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.lux-anzeige {
    margin-top: 10px;
    font-size: 1em;
}

#map {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 400px;
    height: 300px;
    z-index: 1;
    border: 2px solid #444;
    border-radius: 8px;
}

.startpunkt-eingabe {
    position: absolute;
    top: 320px;
    left: 10px;
    z-index: 2;
    background: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

.arbeitsplatz-container {
    margin-left: 430px;
}

.lux-anzeige {
    margin-top: 10px;
    font-size: 1em;
}

