{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>Desk-Share-Lock</title>
        <style>
            table, th, td {
                width: 50%;
                margin: auto;
                border: 2px solid black;
                border-collapse: collapse;
                background-color: beige;
            }
        </style>
    </head>
    <body class="mainpage">
        <form action="{% url 'logout' %}" method="post" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="logout-button">Ausloggen</button>
        </form> 
        <img src="{% static 'desksharelock.jpg' %}" alt="Logo" id="desksharelock">
        <h1>Desk-Share-Lock</h1><br><br>
        <h3>Deine Buchungsübersicht</h3>
        <table>
            <tr>
                <th>Startzeit</th>
                <th>Endzeit</th>
                <th>Arbeitsplatz</th>  
            </tr>
            <tr>
                <td>26.05.2025 10:30 Uhr</td>
                <td>26.05.2025 13:00 Uhr</td>
                <td>Arbeitsplatz 1</td>
            </tr>
        </table>
    </body>
</html>