 {% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Desk-Share-Lock</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="mainpage">

    <form action="{% url 'logout' %}" method="post" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="logout-button">Ausloggen</button>
    </form>

    <img src="{% static 'images/desksharelock.jpg' %}" alt="Logo" id="desksharelock">
    <h1>Desk-Share-Lock</h1><br><br>
    <h3>Hier können Sie einen freien Arbeitsplatz auswählen</h3>

    <div class="arbeitsplatz-container">

        <!-- Code für Arbeitsplatz 1 -->
        {% for arbeitsplatz in arbeitsplaetze %}
            {% if arbeitsplatz.id == "desk-01" %}
                <details class="arbeitsplatz-details">
                    <summary class="arbeitsplatz-btn">Arbeitsplatz 1</summary>
                    {% if arbeitsplatz.status == "frei" %}
                        <p>Status: Frei</p>
                        <form method="post" action="{% url 'arbeitsplatz_buchen' %}">
                            {% csrf_token %}
                            <input type="hidden" name="desk_id" value="desk-01">
                            <button type="submit">Belegen</button>
                        </form>
                    {% elif arbeitsplatz.status == "belegt" %}
                        <p>Status: Belegt</p>
                        <p>Benutzer: {{ arbeitsplatz.user_id }}</p>
                    {% elif arbeitsplatz.status == "deaktiviert" %}
                        <p>Status: Deaktiviert</p>
                        <p>Dieser Platz ist aktuell nicht verfügbar.</p>
                    {% endif %}
                </details>
            {% endif %}
        {% endfor %}
    
        <!-- Code für Arbeitsplatz 2 -->

    
    </div>
</body>
</html>
